@charset "UTF-8";
/*!
 * RPG Awesome 0.0.2 (edited) by Daniela Howe, Ivan Montiel, Nebulys
 * License - https://github.com/nagoshiashumari/Rpg-Awesome/blob/master/LICENSE.md
 * (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'RPGAwesome';
  src:  url('../fonts/rpgawesome-webfont.eot?0.02-N');
  src:  url('../fonts/rpgawesome-webfont.eot?0.02-N#iefix') format('embedded-opentype'),
    url('../fonts/rpgawesome-webfont.ttf?0.02-N') format('truetype'),
    url('../fonts/rpgawesome-webfont.woff?0.02-N') format('woff'),
    url('../fonts/rpgawesome-webfont.svg?0.02-N#rpg-awesome') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ra {
  font-family: 'RPGAwesome' !important; /* !important prevent issues with browser extensions that change fonts */
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
.ra-lg {
  font-size: 1.3333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.ra-2x {
  font-size: 2em;
}

.ra-3x {
  font-size: 3em;
}

.ra-4x {
  font-size: 4em;
}

.ra-5x {
  font-size: 5em;
}

.ra-fw {
  text-align: center;
  width: 1.2857142857em;
}

.ra-ul {
  list-style-type: none;
  margin-left: 2.1428571429em;
  padding-left: 0;
}
.ra-ul > li {
  position: relative;
}

.ra-li {
  left: -2.1428571429em;
  position: absolute;
  text-align: center;
  top: 0.1428571429em;
  width: 2.1428571429em;
}
.ra-li.ra-lg {
  left: -1.8571428571em;
}

.ra-border {
  border: solid 0.08em #eee;
  border-radius: .1em;
  padding: .2em .25em .15em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.ra.pull-left {
  margin-right: .3em;
}
.ra.pull-right {
  margin-left: .3em;
}

.ra-spin {
  -webkit-animation: ra-spin 2s infinite linear;
  animation: ra-spin 2s infinite linear;
}

@-webkit-keyframes ra-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes ra-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.ra-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.ra-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ra-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.ra-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.ra-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .ra-rotate-90,
:root .ra-rotate-180,
:root .ra-rotate-270,
:root .ra-flip-horizontal,
:root .ra-flip-vertical {
  filter: none;
}

.ra-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2em;
}

.ra-stack-1x, .ra-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.ra-stack-1x {
  line-height: inherit;
}

.ra-stack-2x {
  font-size: 2em;
}

.ra-inverse {
  color: #fff;
}

.ra-abacus:before {
  content: "\e900";
}
.ra-achievement:before {
  content: "\e901";
}
.ra-acid:before {
  content: "\e902";
}
.ra-acorn:before {
  content: "\e903";
}
.ra-alien-fire:before {
  content: "\e904";
}
.ra-all-for-one:before {
  content: "\e905";
}
.ra-amethyst:before {
  content: "\e906";
}
.ra-amphora:before {
  content: "\e907";
}
.ra-amputation:before {
  content: "\e908";
}
.ra-anchor:before {
  content: "\e909";
}
.ra-angel-wings:before {
  content: "\e90a";
}
.ra-ankh:before {
  content: "\e90b";
}
.ra-annexation:before {
  content: "\e90c";
}
.ra-anvil:before {
  content: "\e90d";
}
.ra-apothecary:before {
  content: "\e90e";
}
.ra-apple:before {
  content: "\e90f";
}
.ra-aquarius:before {
  content: "\e910";
}
.ra-arcane-mask:before {
  content: "\e911";
}
.ra-archer:before {
  content: "\e912";
}
.ra-archery-target:before {
  content: "\e913";
}
.ra-archive-research:before {
  content: "\e914";
}
.ra-arena:before {
  content: "\e915";
}
.ra-aries:before {
  content: "\e916";
}
.ra-arrow-cluster:before {
  content: "\e917";
}
.ra-arrow-flights:before {
  content: "\e918";
}
.ra-arson:before {
  content: "\e919";
}
.ra-ascending-block:before {
  content: "\e91a";
}
.ra-aura:before {
  content: "\e91b";
}
.ra-aware:before {
  content: "\e91c";
}
.ra-axe:before {
  content: "\e91d";
}
.ra-axe-in-log:before {
  content: "\e91e";
}
.ra-axe-swing:before {
  content: "\e91f";
}
.ra-axe-sword:before {
  content: "\e920";
}
.ra-banknote:before {
  content: "\e921";
}
.ra-barbed-arrow:before {
  content: "\e922";
}
.ra-basketball-ball:before {
  content: "\e923";
}
.ra-bat-sword:before {
  content: "\e924";
}
.ra-battered-axe:before {
  content: "\e925";
}
.ra-batteries:before {
  content: "\e926";
}
.ra-battle-axe:before {
  content: "\e927";
}
.ra-battle-gear:before {
  content: "\e928";
}
.ra-batwings:before {
  content: "\e929";
}
.ra-beam-wake:before {
  content: "\e92a";
}
.ra-bear-trap:before {
  content: "\e92b";
}
.ra-beer:before {
  content: "\e92c";
}
.ra-beetle:before {
  content: "\e92d";
}
.ra-bell:before {
  content: "\e92e";
}
.ra-biohazard:before {
  content: "\e92f";
}
.ra-bird-claw:before {
  content: "\e930";
}
.ra-bird-mask:before {
  content: "\e931";
}
.ra-black-book:before {
  content: "\e932";
}
.ra-blade-bite:before {
  content: "\e933";
}
.ra-blast:before {
  content: "\e934";
}
.ra-bleeding-eye:before {
  content: "\e935";
}
.ra-bleeding-hearts:before {
  content: "\e936";
}
.ra-bolt-shield:before {
  content: "\e937";
}
.ra-bomb-explosion:before {
  content: "\e938";
}
.ra-bone-bite:before {
  content: "\e939";
}
.ra-bone-knife:before {
  content: "\e93a";
}
.ra-book:before {
  content: "\e93b";
}
.ra-book-cover:before {
  content: "\e93c";
}
.ra-boomerang:before {
  content: "\e93d";
}
.ra-boot-stomp:before {
  content: "\e93e";
}
.ra-bottled-bolt:before {
  content: "\e93f";
}
.ra-bottle-vapors:before {
  content: "\e940";
}
.ra-bottom-right:before {
  content: "\e941";
}
.ra-bowie-knife:before {
  content: "\e942";
}
.ra-bowling-pin:before {
  content: "\e943";
}
.ra-bracer:before {
  content: "\e944";
}
.ra-brain-freeze:before {
  content: "\e945";
}
.ra-brandy-bottle:before {
  content: "\e946";
}
.ra-bridge:before {
  content: "\e947";
}
.ra-broadhead-arrow:before {
  content: "\e948";
}
.ra-broken-arrow:before {
  content: "\e949";
}
.ra-broken-bone:before {
  content: "\e94a";
}
.ra-broken-bottle:before {
  content: "\e94b";
}
.ra-broken-heart:before {
  content: "\e94c";
}
.ra-broken-shield:before {
  content: "\e94d";
}
.ra-broken-skull:before {
  content: "\e94e";
}
.ra-brutal-helm:before {
  content: "\e94f";
}
.ra-bubbling-potion:before {
  content: "\e950";
}
.ra-burning-book:before {
  content: "\e951";
}
.ra-burning-embers:before {
  content: "\e952";
}
.ra-burning-eye:before {
  content: "\e953";
}
.ra-burning-meteor:before {
  content: "\e954";
}
.ra-burning-skull:before {
  content: "\e955";
}
.ra-burst-blob:before {
  content: "\e956";
}
.ra-butterfly:before {
  content: "\e957";
}
.ra-byzantin-temple:before {
  content: "\e958";
}
.ra-campfire:before {
  content: "\e959";
}
.ra-camping-tent:before {
  content: "\e95a";
}
.ra-cancer:before {
  content: "\e95b";
}
.ra-candle:before {
  content: "\e95c";
}
.ra-candle-fire:before {
  content: "\e95d";
}
.ra-capitol:before {
  content: "\e95e";
}
.ra-capricorn:before {
  content: "\e95f";
}
.ra-caravel:before {
  content: "\e960";
}
.ra-carrot:before {
  content: "\e961";
}
.ra-castle:before {
  content: "\e962";
}
.ra-castle-emblem:before {
  content: "\e963";
}
.ra-castle-flag:before {
  content: "\e964";
}
.ra-castle-ruins:before {
  content: "\e965";
}
.ra-cat:before {
  content: "\e966";
}
.ra-cauldron:before {
  content: "\e967";
}
.ra-chain:before {
  content: "\e968";
}
.ra-cheese:before {
  content: "\e969";
}
.ra-chemical-arrow:before {
  content: "\e96a";
}
.ra-chessboard:before {
  content: "\e96b";
}
.ra-chicken-leg:before {
  content: "\e96c";
}
.ra-circle-of-circles:before {
  content: "\e96d";
}
.ra-circular-saw:before {
  content: "\e96e";
}
.ra-circular-shield:before {
  content: "\e96f";
}
.ra-classical-knowledge:before {
  content: "\e970";
}
.ra-cloak-and-dagger:before {
  content: "\e971";
}
.ra-clockwork:before {
  content: "\e972";
}
.ra-closed-barbute:before {
  content: "\e973";
}
.ra-clover:before {
  content: "\e974";
}
.ra-clovers:before {
  content: "\e975";
}
.ra-clovers-card:before {
  content: "\e976";
}
.ra-coal-wagon:before {
  content: "\e977";
}
.ra-coffee-mug:before {
  content: "\e978";
}
.ra-cog:before {
  content: "\e979";
}
.ra-cog-wheel:before {
  content: "\e97a";
}
.ra-cold-heart:before {
  content: "\e97b";
}
.ra-coliseum:before {
  content: "\e97c";
}
.ra-compass:before {
  content: "\e97d";
}
.ra-console-controller:before {
  content: "\e97e";
}
.ra-conversation:before {
  content: "\e97f";
}
.ra-cook:before {
  content: "\e980";
}
.ra-corked-tube:before {
  content: "\e981";
}
.ra-corset:before {
  content: "\e982";
}
.ra-cowled:before {
  content: "\e983";
}
.ra-crab-claw:before {
  content: "\e984";
}
.ra-cracked-helm:before {
  content: "\e985";
}
.ra-cracked-shield:before {
  content: "\e986";
}
.ra-crested-helmet:before {
  content: "\e987";
}
.ra-croc-sword:before {
  content: "\e988";
}
.ra-crossbow:before {
  content: "\e989";
}
.ra-crossed-axes:before {
  content: "\e98a";
}
.ra-crossed-bones:before {
  content: "\e98b";
}
.ra-crossed-sabres:before {
  content: "\e98c";
}
.ra-crossed-swords:before {
  content: "\e98d";
}
.ra-crown:before {
  content: "\e98e";
}
.ra-crowned-heart:before {
  content: "\e98f";
}
.ra-crown-of-thorns:before {
  content: "\e990";
}
.ra-crush:before {
  content: "\e991";
}
.ra-crystal-ball:before {
  content: "\e992";
}
.ra-crystal-cluster:before {
  content: "\e993";
}
.ra-crystal-growth:before {
  content: "\e994";
}
.ra-crystals:before {
  content: "\e995";
}
.ra-crystal-wand:before {
  content: "\e996";
}
.ra-cubes:before {
  content: "\e997";
}
.ra-cultist:before {
  content: "\e998";
}
.ra-cut-palm:before {
  content: "\e999";
}
.ra-cycle:before {
  content: "\e99a";
}
.ra-daggers:before {
  content: "\e99b";
}
.ra-daisy:before {
  content: "\e99c";
}
.ra-dead-tree:before {
  content: "\e99d";
}
.ra-death-skull:before {
  content: "\e99e";
}
.ra-decapitation:before {
  content: "\e99f";
}
.ra-defibrillate:before {
  content: "\e9a0";
}
.ra-demolish:before {
  content: "\e9a1";
}
.ra-dervish-swords:before {
  content: "\e9a2";
}
.ra-desert-skull:before {
  content: "\e9a3";
}
.ra-diamond:before {
  content: "\e9a4";
}
.ra-diamond-hard:before {
  content: "\e9a5";
}
.ra-diamond-hilt:before {
  content: "\e9a6";
}
.ra-diamonds:before {
  content: "\e9a7";
}
.ra-diamonds-card:before {
  content: "\e9a8";
}
.ra-dice-five:before {
  content: "\e9a9";
}
.ra-dice-four:before {
  content: "\e9aa";
}
.ra-dice-one:before {
  content: "\e9ab";
}
.ra-dice-six:before {
  content: "\e9ac";
}
.ra-dice-three:before {
  content: "\e9ad";
}
.ra-dice-two:before {
  content: "\e9ae";
}
.ra-dig-dug:before {
  content: "\e9af";
}
.ra-dinosaur:before {
  content: "\e9b0";
}
.ra-direction-signs:before {
  content: "\e9b1";
}
.ra-divert:before {
  content: "\e9b2";
}
.ra-diving-dagger:before {
  content: "\e9b3";
}
.ra-doubled:before {
  content: "\e9b4";
}
.ra-double-team:before {
  content: "\e9b5";
}
.ra-dragon:before {
  content: "\e9b6";
}
.ra-dragon-breath:before {
  content: "\e9b7";
}
.ra-dragonfly:before {
  content: "\e9b8";
}
.ra-dragon-wing:before {
  content: "\e9b9";
}
.ra-drill:before {
  content: "\e9ba";
}
.ra-dripping-blade:before {
  content: "\e9bb";
}
.ra-dripping-knife:before {
  content: "\e9bc";
}
.ra-dripping-sword:before {
  content: "\e9bd";
}
.ra-droplet:before {
  content: "\e9be";
}
.ra-droplets:before {
  content: "\e9bf";
}
.ra-droplet-splash:before {
  content: "\e9c0";
}
.ra-drop-weapon:before {
  content: "\e9c1";
}
.ra-dwarf-face:before {
  content: "\e9c2";
}
.ra-dwarf-helmet:before {
  content: "\e9c3";
}
.ra-earth-crack:before {
  content: "\e9c4";
}
.ra-egg:before {
  content: "\e9c5";
}
.ra-eggplant:before {
  content: "\e9c6";
}
.ra-egg-pod:before {
  content: "\e9c7";
}
.ra-elf-helmet:before {
  content: "\e9c8";
}
.ra-embrassed-energy:before {
  content: "\e9c9";
}
.ra-emerald:before {
  content: "\e9ca";
}
.ra-energise:before {
  content: "\e9cb";
}
.ra-evil-wings:before {
  content: "\e9cc";
}
.ra-executioner-hood:before {
  content: "\e9cd";
}
.ra-explosion:before {
  content: "\e9ce";
}
.ra-explosive-materials:before {
  content: "\e9cf";
}
.ra-eyeball:before {
  content: "\e9d0";
}
.ra-eye-monster:before {
  content: "\e9d1";
}
.ra-eye-shield:before {
  content: "\e9d2";
}
.ra-fairy:before {
  content: "\e9d3";
}
.ra-fairy-wand:before {
  content: "\e9d4";
}
.ra-fall-down:before {
  content: "\e9d5";
}
.ra-falling:before {
  content: "\e9d6";
}
.ra-fast-ship:before {
  content: "\e9d7";
}
.ra-feathered-wing:before {
  content: "\e9d8";
}
.ra-feather-wing:before {
  content: "\e9d9";
}
.ra-fedora:before {
  content: "\e9da";
}
.ra-fire:before {
  content: "\e9db";
}
.ra-fire-axe:before {
  content: "\e9dc";
}
.ra-fireball-sword:before {
  content: "\e9dd";
}
.ra-fire-bomb:before {
  content: "\e9de";
}
.ra-fire-breath:before {
  content: "\e9df";
}
.ra-fire-ring:before {
  content: "\e9e0";
}
.ra-fire-shield:before {
  content: "\e9e1";
}
.ra-fire-symbol:before {
  content: "\e9e2";
}
.ra-fish:before {
  content: "\e9e3";
}
.ra-fizzing-flask:before {
  content: "\e9e4";
}
.ra-flail:before {
  content: "\e9e5";
}
.ra-flame:before {
  content: "\e9e6";
}
.ra-flame-symbol:before {
  content: "\e9e7";
}
.ra-flaming-arrow:before {
  content: "\e9e8";
}
.ra-flaming-claw:before {
  content: "\e9e9";
}
.ra-flaming-trident:before {
  content: "\e9ea";
}
.ra-flask:before {
  content: "\e9eb";
}
.ra-flat-hammer:before {
  content: "\e9ec";
}
.ra-flower:before {
  content: "\e9ed";
}
.ra-flowers:before {
  content: "\e9ee";
}
.ra-fluffy-swirl:before {
  content: "\e9ef";
}
.ra-focused-lightning:before {
  content: "\e9f0";
}
.ra-food-chain:before {
  content: "\e9f1";
}
.ra-football-ball:before {
  content: "\e9f2";
}
.ra-footprint:before {
  content: "\e9f3";
}
.ra-forging:before {
  content: "\e9f4";
}
.ra-forward:before {
  content: "\e9f5";
}
.ra-fox:before {
  content: "\e9f6";
}
.ra-frost-emblem:before {
  content: "\e9f7";
}
.ra-frostfire:before {
  content: "\e9f8";
}
.ra-frozen-arrow:before {
  content: "\e9f9";
}
.ra-gamepad:before {
  content: "\e9fa";
}
.ra-gamepad-cross:before {
  content: "\e9fb";
}
.ra-gauntlet:before {
  content: "\e9fc";
}
.ra-gavel:before {
  content: "\e9fd";
}
.ra-gear-hammer:before {
  content: "\e9fe";
}
.ra-gear-heart:before {
  content: "\e9ff";
}
.ra-gears:before {
  content: "\ea00";
}
.ra-gecko:before {
  content: "\ea01";
}
.ra-gem-chain:before {
  content: "\ea02";
}
.ra-gemini:before {
  content: "\ea03";
}
.ra-gem-pendant:before {
  content: "\ea04";
}
.ra-gift-of-knowledge:before {
  content: "\ea05";
}
.ra-gladius:before {
  content: "\ea06";
}
.ra-glass-heart:before {
  content: "\ea07";
}
.ra-gloop:before {
  content: "\ea08";
}
.ra-gold-bar:before {
  content: "\ea09";
}
.ra-gold-stack:before {
  content: "\ea0a";
}
.ra-graduate-cap:before {
  content: "\ea0b";
}
.ra-grappling-hook:before {
  content: "\ea0c";
}
.ra-grass:before {
  content: "\ea0d";
}
.ra-grass-patch:before {
  content: "\ea0e";
}
.ra-greek-temple:before {
  content: "\ea0f";
}
.ra-groundbreaker:before {
  content: "\ea10";
}
.ra-guarded-tower:before {
  content: "\ea11";
}
.ra-guillotine:before {
  content: "\ea12";
}
.ra-halberd:before {
  content: "\ea13";
}
.ra-hammer:before {
  content: "\ea14";
}
.ra-hammer-drop:before {
  content: "\ea15";
}
.ra-ham-shank:before {
  content: "\ea16";
}
.ra-hand:before {
  content: "\ea17";
}
.ra-hand-emblem:before {
  content: "\ea18";
}
.ra-hand-saw:before {
  content: "\ea19";
}
.ra-hanging-sign:before {
  content: "\ea1a";
}
.ra-harpoon-trident:before {
  content: "\ea1b";
}
.ra-hatchet:before {
  content: "\ea1c";
}
.ra-health:before {
  content: "\ea1d";
}
.ra-health-decrease:before {
  content: "\ea1e";
}
.ra-health-increase:before {
  content: "\ea1f";
}
.ra-heart-bottle:before {
  content: "\ea20";
}
.ra-heartburn:before {
  content: "\ea21";
}
.ra-hearts:before {
  content: "\ea22";
}
.ra-hearts-card:before {
  content: "\ea23";
}
.ra-heart-tower:before {
  content: "\ea24";
}
.ra-heat-haze:before {
  content: "\ea25";
}
.ra-heavy-fall:before {
  content: "\ea26";
}
.ra-heavy-shield:before {
  content: "\ea27";
}
.ra-helmet:before {
  content: "\ea28";
}
.ra-help:before {
  content: "\ea29";
}
.ra-hive-emblem:before {
  content: "\ea2a";
}
.ra-hole-ladder:before {
  content: "\ea2b";
}
.ra-honeycomb:before {
  content: "\ea2c";
}
.ra-hood:before {
  content: "\ea2d";
}
.ra-horn-call:before {
  content: "\ea2e";
}
.ra-horns:before {
  content: "\ea2f";
}
.ra-horseshoe:before {
  content: "\ea30";
}
.ra-hospital-cross:before {
  content: "\ea31";
}
.ra-hot-surface:before {
  content: "\ea32";
}
.ra-hourglass:before {
  content: "\ea33";
}
.ra-house:before {
  content: "\ea34";
}
.ra-hunting-horn:before {
  content: "\ea35";
}
.ra-hydra:before {
  content: "\ea36";
}
.ra-hydra-shot:before {
  content: "\ea37";
}
.ra-ice-cube:before {
  content: "\ea38";
}
.ra-ifrit:before {
  content: "\ea39";
}
.ra-imperial-crown:before {
  content: "\ea3a";
}
.ra-implosion:before {
  content: "\ea3b";
}
.ra-incense:before {
  content: "\ea3c";
}
.ra-insect-jaws:before {
  content: "\ea3d";
}
.ra-interdiction:before {
  content: "\ea3e";
}
.ra-invisible:before {
  content: "\ea3f";
}
.ra-jester-hat:before {
  content: "\ea40";
}
.ra-jewel-crown:before {
  content: "\ea41";
}
.ra-jigsaw-piece:before {
  content: "\ea42";
}
.ra-kaleidoscope:before {
  content: "\ea43";
}
.ra-kettlebell:before {
  content: "\ea44";
}
.ra-key:before {
  content: "\ea45";
}
.ra-key-basic:before {
  content: "\ea46";
}
.ra-kitchen-knives:before {
  content: "\ea47";
}
.ra-knife:before {
  content: "\ea48";
}
.ra-knife-fork:before {
  content: "\ea49";
}
.ra-knight-banner:before {
  content: "\ea4a";
}
.ra-knight-helmet:before {
  content: "\ea4b";
}
.ra-kunai:before {
  content: "\ea4c";
}
.ra-lantern-flame:before {
  content: "\ea4d";
}
.ra-large-hammer:before {
  content: "\ea4e";
}
.ra-lava:before {
  content: "\ea4f";
}
.ra-leaf:before {
  content: "\ea50";
}
.ra-leg-armor:before {
  content: "\ea51";
}
.ra-leo:before {
  content: "\ea52";
}
.ra-level-four:before {
  content: "\ea53";
}
.ra-level-four-advanced:before {
  content: "\ea54";
}
.ra-level-three:before {
  content: "\ea55";
}
.ra-level-three-advanced:before {
  content: "\ea56";
}
.ra-level-two:before {
  content: "\ea57";
}
.ra-level-two-advanced:before {
  content: "\ea58";
}
.ra-lever:before {
  content: "\ea59";
}
.ra-libra:before {
  content: "\ea5a";
}
.ra-light-bulb:before {
  content: "\ea5b";
}
.ra-lighthouse:before {
  content: "\ea5c";
}
.ra-lightning:before {
  content: "\ea5d";
}
.ra-lightning-bolt:before {
  content: "\ea5e";
}
.ra-lightning-storm:before {
  content: "\ea5f";
}
.ra-lightning-sword:before {
  content: "\ea60";
}
.ra-lightning-trio:before {
  content: "\ea61";
}
.ra-lion:before {
  content: "\ea62";
}
.ra-lit-candelabra:before {
  content: "\ea63";
}
.ra-locked-fortress:before {
  content: "\ea64";
}
.ra-love-howl:before {
  content: "\ea65";
}
.ra-maggot:before {
  content: "\ea66";
}
.ra-magic-axe:before {
  content: "\ea67";
}
.ra-magic-shield:before {
  content: "\ea68";
}
.ra-magnet:before {
  content: "\ea69";
}
.ra-mass-driver:before {
  content: "\ea6a";
}
.ra-match:before {
  content: "\ea6b";
}
.ra-materials-science:before {
  content: "\ea6c";
}
.ra-meat:before {
  content: "\ea6d";
}
.ra-meat-hook:before {
  content: "\ea6e";
}
.ra-medical-pack:before {
  content: "\ea6f";
}
.ra-medieval-barracks:before {
  content: "\ea70";
}
.ra-medieval-gate:before {
  content: "\ea71";
}
.ra-metal-gate:before {
  content: "\ea72";
}
.ra-mighty-force:before {
  content: "\ea73";
}
.ra-minerals:before {
  content: "\ea74";
}
.ra-mine-wagon:before {
  content: "\ea75";
}
.ra-mining-diamonds:before {
  content: "\ea76";
}
.ra-mirror:before {
  content: "\ea77";
}
.ra-monster-skull:before {
  content: "\ea78";
}
.ra-moon-sun:before {
  content: "\ea79";
}
.ra-mountains:before {
  content: "\ea7a";
}
.ra-muscle-fat:before {
  content: "\ea7b";
}
.ra-muscle-up:before {
  content: "\ea7c";
}
.ra-nails:before {
  content: "\ea7d";
}
.ra-newspaper:before {
  content: "\ea7e";
}
.ra-nodular:before {
  content: "\ea7f";
}
.ra-noose:before {
  content: "\ea80";
}
.ra-nuclear:before {
  content: "\ea81";
}
.ra-ocarina:before {
  content: "\ea82";
}
.ra-ocean-emblem:before {
  content: "\ea83";
}
.ra-octopus:before {
  content: "\ea84";
}
.ra-omega:before {
  content: "\ea85";
}
.ra-on-target:before {
  content: "\ea86";
}
.ra-open-chest:before {
  content: "\ea87";
}
.ra-ophiuchus:before {
  content: "\ea88";
}
.ra-orb-wand:before {
  content: "\ea89";
}
.ra-ore:before {
  content: "\ea8a";
}
.ra-overhead:before {
  content: "\ea8b";
}
.ra-overmind:before {
  content: "\ea8c";
}
.ra-padlock:before {
  content: "\ea8d";
}
.ra-palm-tree:before {
  content: "\ea8e";
}
.ra-pawn:before {
  content: "\ea8f";
}
.ra-pawprint:before {
  content: "\ea90";
}
.ra-pig:before {
  content: "\ea91";
}
.ra-pill:before {
  content: "\ea92";
}
.ra-pills:before {
  content: "\ea93";
}
.ra-pine-tree:before {
  content: "\ea94";
}
.ra-ping-pong:before {
  content: "\ea95";
}
.ra-pisces:before {
  content: "\ea96";
}
.ra-plain-dagger:before {
  content: "\ea97";
}
.ra-player:before {
  content: "\ea98";
}
.ra-player-despair:before {
  content: "\ea99";
}
.ra-player-dodge:before {
  content: "\ea9a";
}
.ra-player-king:before {
  content: "\ea9b";
}
.ra-player-lift:before {
  content: "\ea9c";
}
.ra-player-pain:before {
  content: "\ea9d";
}
.ra-player-pyromaniac:before {
  content: "\ea9e";
}
.ra-player-shot:before {
  content: "\ea9f";
}
.ra-player-teleport:before {
  content: "\eaa0";
}
.ra-player-thunder-struck:before {
  content: "\eaa1";
}
.ra-podium:before {
  content: "\eaa2";
}
.ra-pointy-hat:before {
  content: "\eaa3";
}
.ra-poison-cloud:before {
  content: "\eaa4";
}
.ra-potion:before {
  content: "\eaa5";
}
.ra-potion-ball:before {
  content: "\eaa6";
}
.ra-prank-glasses:before {
  content: "\eaa7";
}
.ra-pretty-fangs:before {
  content: "\eaa8";
}
.ra-psychic-waves:before {
  content: "\eaa9";
}
.ra-pumpkin-lantern:before {
  content: "\eaaa";
}
.ra-pyramids:before {
  content: "\eaab";
}
.ra-queen-crown:before {
  content: "\eaac";
}
.ra-quill-ink:before {
  content: "\eaad";
}
.ra-rabbit:before {
  content: "\eaae";
}
.ra-radial-balance:before {
  content: "\eaaf";
}
.ra-radioactive:before {
  content: "\eab0";
}
.ra-raise-zombie:before {
  content: "\eab1";
}
.ra-raven:before {
  content: "\eab2";
}
.ra-reactor:before {
  content: "\eab3";
}
.ra-recycle:before {
  content: "\eab4";
}
.ra-regeneration:before {
  content: "\eab5";
}
.ra-relic-blade:before {
  content: "\eab6";
}
.ra-repair:before {
  content: "\eab7";
}
.ra-reverse:before {
  content: "\eab8";
}
.ra-ring:before {
  content: "\eab9";
}
.ra-ringing-bell:before {
  content: "\eaba";
}
.ra-roast-chicken:before {
  content: "\eabb";
}
.ra-robe:before {
  content: "\eabc";
}
.ra-robot-arm:before {
  content: "\eabd";
}
.ra-round-bottom-flask:before {
  content: "\eabe";
}
.ra-round-shield:before {
  content: "\eabf";
}
.ra-rune-stone:before {
  content: "\eac0";
}
.ra-sagittarius:before {
  content: "\eac1";
}
.ra-sapphire:before {
  content: "\eac2";
}
.ra-scorpio:before {
  content: "\eac3";
}
.ra-scroll-quill:before {
  content: "\eac4";
}
.ra-scroll-unfurled:before {
  content: "\eac5";
}
.ra-scythe:before {
  content: "\eac6";
}
.ra-seagull:before {
  content: "\eac7";
}
.ra-sea-serpent:before {
  content: "\eac8";
}
.ra-shark:before {
  content: "\eac9";
}
.ra-sheep:before {
  content: "\eaca";
}
.ra-sheriff:before {
  content: "\eacb";
}
.ra-shield:before {
  content: "\eacc";
}
.ra-shield-reflect:before {
  content: "\eacd";
}
.ra-shinto-shrine:before {
  content: "\eace";
}
.ra-shoe-prints:before {
  content: "\eacf";
}
.ra-shot-through-the-heart:before {
  content: "\ead0";
}
.ra-shovel:before {
  content: "\ead1";
}
.ra-shuriken:before {
  content: "\ead2";
}
.ra-sickle:before {
  content: "\ead3";
}
.ra-sideswipe:before {
  content: "\ead4";
}
.ra-sinagot:before {
  content: "\ead5";
}
.ra-sinking-ship:before {
  content: "\ead6";
}
.ra-skull:before {
  content: "\ead7";
}
.ra-skull-staff:before {
  content: "\ead8";
}
.ra-skull-trophy:before {
  content: "\ead9";
}
.ra-slash-ring:before {
  content: "\eada";
}
.ra-sliced-bread:before {
  content: "\eadb";
}
.ra-small-fire:before {
  content: "\eadc";
}
.ra-snail:before {
  content: "\eadd";
}
.ra-snake:before {
  content: "\eade";
}
.ra-snorkel:before {
  content: "\eadf";
}
.ra-snowflake:before {
  content: "\eae0";
}
.ra-soccer-ball:before {
  content: "\eae1";
}
.ra-spades:before {
  content: "\eae2";
}
.ra-spades-card:before {
  content: "\eae3";
}
.ra-spartan-helmet:before {
  content: "\eae4";
}
.ra-spear-head:before {
  content: "\eae5";
}
.ra-speech-bubble:before {
  content: "\eae6";
}
.ra-speech-bubbles:before {
  content: "\eae7";
}
.ra-spell-book:before {
  content: "\eae8";
}
.ra-spider-alt:before {
  content: "\eae9";
}
.ra-spider-face:before {
  content: "\eaea";
}
.ra-spikeball:before {
  content: "\eaeb";
}
.ra-spiked-ball:before {
  content: "\eaec";
}
.ra-spiked-bat:before {
  content: "\eaed";
}
.ra-spiked-mace:before {
  content: "\eaee";
}
.ra-spiked-shield:before {
  content: "\eaef";
}
.ra-spiked-shoulder-armor:before {
  content: "\eaf0";
}
.ra-spiked-tentacle:before {
  content: "\eaf1";
}
.ra-spinning-sword:before {
  content: "\eaf2";
}
.ra-spiral-shell:before {
  content: "\eaf3";
}
.ra-splash:before {
  content: "\eaf4";
}
.ra-sprout:before {
  content: "\eaf5";
}
.ra-sprout-emblem:before {
  content: "\eaf6";
}
.ra-spy:before {
  content: "\eaf7";
}
.ra-spyglass:before {
  content: "\eaf8";
}
.ra-stabbed-note:before {
  content: "\eaf9";
}
.ra-stone-block:before {
  content: "\eafa";
}
.ra-stone-pile:before {
  content: "\eafb";
}
.ra-stone-throne:before {
  content: "\eafc";
}
.ra-stone-tower:before {
  content: "\eafd";
}
.ra-stopwatch:before {
  content: "\eafe";
}
.ra-suckered-tentacle:before {
  content: "\eaff";
}
.ra-suits:before {
  content: "\eb00";
}
.ra-summits:before {
  content: "\eb01";
}
.ra-sun:before {
  content: "\eb02";
}
.ra-sunbeams:before {
  content: "\eb03";
}
.ra-sun-symbol:before {
  content: "\eb04";
}
.ra-super-mushroom:before {
  content: "\eb05";
}
.ra-supersonic-arrow:before {
  content: "\eb06";
}
.ra-sword:before {
  content: "\eb07";
}
.ra-sword-clash:before {
  content: "\eb08";
}
.ra-target-arrows:before {
  content: "\eb09";
}
.ra-target-dummy:before {
  content: "\eb0a";
}
.ra-target-poster:before {
  content: "\eb0b";
}
.ra-taurus:before {
  content: "\eb0c";
}
.ra-telescope:before {
  content: "\eb0d";
}
.ra-tentacle:before {
  content: "\eb0e";
}
.ra-thorn-arrow:before {
  content: "\eb0f";
}
.ra-thorny-vine:before {
  content: "\eb10";
}
.ra-three-keys:before {
  content: "\eb11";
}
.ra-tied-scroll:before {
  content: "\eb12";
}
.ra-toast:before {
  content: "\eb13";
}
.ra-tombstone:before {
  content: "\eb14";
}
.ra-tooth:before {
  content: "\eb15";
}
.ra-torch:before {
  content: "\eb16";
}
.ra-tornado:before {
  content: "\eb17";
}
.ra-tower:before {
  content: "\eb18";
}
.ra-trail:before {
  content: "\eb19";
}
.ra-treasure-map:before {
  content: "\eb1a";
}
.ra-trefoil-lily:before {
  content: "\eb1b";
}
.ra-trident:before {
  content: "\eb1c";
}
.ra-triforce:before {
  content: "\eb1d";
}
.ra-trophy:before {
  content: "\eb1e";
}
.ra-trumpet-flag:before {
  content: "\eb1f";
}
.ra-turd:before {
  content: "\eb20";
}
.ra-two-dragons:before {
  content: "\eb21";
}
.ra-two-hearts:before {
  content: "\eb22";
}
.ra-uncertainty:before {
  content: "\eb23";
}
.ra-underhand:before {
  content: "\eb24";
}
.ra-upgrade:before {
  content: "\eb25";
}
.ra-vase:before {
  content: "\eb26";
}
.ra-venomous-snake:before {
  content: "\eb27";
}
.ra-vertical-banner:before {
  content: "\eb28";
}
.ra-vial:before {
  content: "\eb29";
}
.ra-vine-whip:before {
  content: "\eb2a";
}
.ra-virgo:before {
  content: "\eb2b";
}
.ra-wanted-reward:before {
  content: "\eb2c";
}
.ra-war-axe:before {
  content: "\eb2d";
}
.ra-warhammer:before {
  content: "\eb2e";
}
.ra-warlord-helmet:before {
  content: "\eb2f";
}
.ra-watchtower:before {
  content: "\eb30";
}
.ra-water-drop:before {
  content: "\eb31";
}
.ra-water-mill:before {
  content: "\eb32";
}
.ra-wave-crest:before {
  content: "\eb33";
}
.ra-white-book:before {
  content: "\eb34";
}
.ra-white-tower:before {
  content: "\eb35";
}
.ra-winged-scepter:before {
  content: "\eb36";
}
.ra-wizard-face:before {
  content: "\eb37";
}
.ra-wizard-staff:before {
  content: "\eb38";
}
.ra-wolf-head:before {
  content: "\eb39";
}
.ra-wolf-howl:before {
  content: "\eb3a";
}
.ra-wolf-trap:before {
  content: "\eb3b";
}
.ra-wood-axe:before {
  content: "\eb3c";
}
.ra-wood-beam:before {
  content: "\eb3d";
}
.ra-wooden-pier:before {
  content: "\eb3e";
}
.ra-wooden-sign:before {
  content: "\eb3f";
}
.ra-wood-pile:before {
  content: "\eb40";
}
.ra-world:before {
  content: "\eb41";
}
.ra-wrench:before {
  content: "\eb42";
}
.ra-wyvern:before {
  content: "\eb43";
}
.ra-x-mark:before {
  content: "\eb44";
}
.ra-zebra-shield:before {
  content: "\eb45";
}
.ra-zigzag-leaf:before {
  content: "\eb46";
}
