/* Limit logo size to fix auto height size */
.topbar-logo-link {
    max-height: 4.5vh;
}

.sidebar-right {
    position: relative;
}

.topbar-right {
    max-width: 100vw;
}


.user-box {
    flex-wrap: wrap;
    justify-content: center;
}

.sidebar-tabs {
    border-top: 1px solid var(--border-primary);
    border-bottom: 1px solid var(--border-primary);
    margin: 0 -10px 10px;
    border-radius: 0px;
    padding: 0px;
}

.sidebar-tab.active {
    position: relative;
    background: transparent;
    color: transparent;
    border-bottom: 2px solid #3b82f6;
    z-index: 1;
}

.sidebar-tab.active:before {
    position: absolute;
    inset: 0;
    content: '';
    background: rgb(59 130 246 / 10%);
    z-index: -1;
}

.sidebar-tab.active::after {
    position: absolute;
    inset: 0;
    content: attr(data-tab);
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #3b82f6, #22c55e);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: capitalize;
}

.sidebar-tab {
    font-size: 14px;
    border-radius: 0px;
}

.logo-sub {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    color: rgb(100 116 139);
    font-size: 0.85em;
    font-weight: 600;
}

.chatbox {
    margin: 12px -12px 0 -12px;
    border-radius: 0 !important;
    border: none !important;
    border-top: 1px solid var(--border-primary) !important;
    height: 600px !important;
}

/* Resize some text sizes for readability */
.menu-item {
    font-size: 14px;
}

.tree-card .tree-label {
    text-transform: uppercase;
    font-size: 16px;
}

.user-name {
    font-size: 16px;
}

.user-total-level {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    font-size: 14px;
    text-transform: uppercase;
    justify-content: center;
}

/* GATHERING/ARTISAN SUB-TABS REWORK (linking) */

div[class*="-tabs"]:not(.chatbox-tab):not(.sidebar-tab) {
    gap: 0px;
    overflow-x: visible;
}

button[class*="-tab"]:not(.chatbox-tab):not(.sidebar-tab) {
    border-radius: 0px;
}

button[class*="-tab"]:not(.chatbox-tab):not(.sidebar-tab):first-of-type {
    border-radius: 5px 0 0 5px;
}

button[class*="-tab"]:not(.chatbox-tab):not(.sidebar-tab):last-of-type {
    border-radius: 0 5px 5px 0;
}

#session-stat.nebs-container {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    gap: 0px;
    margin: 0 0 12px 0;
    padding: 0;
    font-family: "Saira", sans-serif;
    overflow: hidden;
    align-items: center;
}

#session-stat .session-main {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 10px 12px;
}

#session-stat .session-time {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 5px 0 0 0;
    font-size: 14px;
    background: rgb(78 91 121 / 50%);
    border-radius: 6px;
}

.session-buttons {
    display: flex;
    flex-direction: column;
    gap: 0px;
    height: 100%;
    width: 32px;
    overflow: hidden;
    min-width: 36px;
}

.session-btn {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    border: none;
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px 4px rgb(75 75 75);
}

.session-btn-renew {
    background: rgb(197, 255, 255);
}

.session-btn-stop {
    background: rgb(239, 68, 68);
}

.session-btn-renew:hover {
    background: rgb(147, 205, 205);
}

.session-btn-stop:hover {
    background: rgb(175, 48, 48);
}

.session-main .queue-badge {
    display: flex !important;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    margin: 0 0 5px 0;
}

.session-main .xp-bar {
    display: none;
}

.session-main #cycle-counter {
    font-size: 14px;
    text-shadow: inherit;
    color: rgb(255 255 255)
}

#cycle-bar-fill {
    background: linear-gradient(180deg, rgb(175 175 175) 0%, rgb(200 200 200) 10%, rgb(255 255 255) 50%, rgb(255 255 255) 100%);
    box-shadow: none;
    border-radius: 2.5px;
}

#cycle-bar-fill::after {
    display: none;
}

.user-info-wrapper {
    display: flex;
    flex: 1 1 auto;
    padding: 10px;
    gap: 10px;
}

.user-avatar {
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

.queue-dropdown {
    position: initial;
    transform: initial;
    background: transparent;
    border: 1px solid rgb(32 125 255 / 15%);
    border-left: none;
    border-right: none;
    border-radius: 0px;
    box-shadow: none;
}

.skill-name {
    overflow: visible;
}

.inv-item {
    padding: 0 0 12px 0px;
    min-width: 48px;
}

.inv-slot-empty {
    aspect-ratio: auto;
    min-width: 48px;
    min-height: 60px;
    display: flex;
    box-shadow: none;
    border: 1px dashed var(--border-subtle);
}

.inv-item-qty {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    font-family: "Saira", sans-serif;
    font-size: 12px;
    background: rgb(255 255 255 / 10%);
    font-weight: 400;
}

.inv-item-icon {
    height: 46px;
    width: 46px;
}

.inv-item:hover {
    border-color: rgb(255 255 255 / 50%);
    box-shadow: inset 0 0 8px rgb(255 255 255 / 50%);
}

.inv-item.rarity-uncommon {
    border-color: rgba(34, 197, 94, 1);
}

.inv-item.rarity-rare {
    border-color: rgba(59, 130, 246, 1);
}

.inv-item.rarity-epic {
    border-color: rgba(168, 85, 247, 1);
}

.inv-item.rarity-legendary {
    border-color: rgba(245, 158, 11, 1);
}

.inv-item.rarity-mythic {
    border-color: rgba(239, 68, 68, 1);
}

.inv-item.rarity-uncommon:hover {
    border-color: #22c55e;
    box-shadow: inset 0 0 8px rgba(34, 197, 94, 0.5);
}

.inv-item.rarity-rare:hover {
    border-color: #3b82f6;
    box-shadow: inset 0 0 8px rgba(59, 130, 246, 0.5);
}

.inv-item.rarity-epic:hover {
    border-color: #a855f7;
    box-shadow: inset 0 0 8px rgba(168, 85, 247, 0.5);
}

.inv-item.rarity-legendary:hover {
    border-color: #f59e0b;
    box-shadow: inset 0 0 8px rgba(245, 158, 11, 0.5);
}

.inv-item.rarity-mythic:hover {
    border-color: #ef4444;
    box-shadow: inset 0 0 8px rgba(239, 68, 68, 0.5);
}

.sidebar-footer {
    border-top: 1px solid var(--border-primary);
    margin: 0 -10px;
    background: transparent;
}

.user-info {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.inv-grid {
    margin: 0 auto;
}

.inv-grid.inv-grid-fixed {
    grid-template-columns: repeat(auto-fill, minmax(48px, 1fr));
}

.logo-sub,
.user-total-level,
.category-name {
    color: transparent;
    background: linear-gradient(90deg, #3b82f6, #22c55e);
    background-clip: text;
    -webkit-background-clip: text;
}

@media (max-width: 768px) {
    .topbar {
        max-height: 100%;
    }

    .user-info {
        flex: 1 1 100%;
    }

    .sidebar-left,
    .sidebar-right {
        flex: 1 1 100%;
    }
}

@media (max-width: 480px) {
    .topbar-left .logo-text {
        display: flex;
    }

    .logo-sub {
        display: none !important;
    }
}