@font-face {
    font-family: 'emoji';
    src: url('https://goldenlys.github.io/Koruxa-Enhancer/assets/fonts/NotoColorEmoji.ttf') format('truetype');
}

:root {
    --primary-color: #5d6ae7;
    --secondary-color: #f0f4ff;
    --text-color: #fff;
    --background-color: #f9f9f9;
    --surface: #131e31;
    --surface2: rgb(13 22 39);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, 'emoji', sans-serif;
}

body {
    background-color: var(--background-color);
    background-image: radial-gradient(circle at top, #283855 0, #0f172a 60%);
    color: var(--text-color);
    line-height: 1.6;
    padding: 2rem;
    width: 100vw;
    height: 100vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: var(--surface);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

header {
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 1rem;
    border-bottom: 2px solid var(--primary-color);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
    font-weight: 700;
}

.subtitle {
    font-size: 1.2rem;
    color: #6c6d79;
    margin-bottom: 1rem;
    max-width: 500px;
    margin: 0 auto;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.input-container {
    flex: 1 1 300px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

input[type="number"] {
    width: 100%;
    padding: 0.75rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 1rem;
}

input[type="number"]:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px rgba(93, 109, 237, 0.2);
}

.labels {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.labels .label {
    flex: 1 1 50%;
}

.label {
    display: inline-flex;
    padding: 0.25rem 0.75rem;
    border-radius: 4px;
    background: #5d6ae7;
    box-sizing: border-box;
    font-size: .75rem;
    color: white;
    justify-content: center;
}

.label.white {
    background: rgb(107 107 107 / 25%);
}

.label.green {
    background: rgb(0 111 83);
    font-size: 0.85rem;
    line-height: 0.85rem;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    position: absolute;
    top: -7.5px;
    right: -7.5px;
}

.label.red {
    background: rgb(255 51 51);
    color: white;
    font-size: 0.85rem;
    line-height: 0.85rem;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    text-shadow: 0 0 10px rgb(0 0 0 / 75%);
    position: absolute;
    top: -7.5px;
    left: -7.5px;
}

.label.red>i {
    line-height: 1rem;
    margin-right: 5px;
}

.marked {
    display: block;
    font-weight: bold;
    color: #5d6ae7;
}

.marked.small {
    font-size: 1.25rem;
    font-weight: bold;
}

.red {
    color: rgb(231, 93, 93);
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.slider-value {
    font-size: 0.9rem;
    color: #777;
}

input[type="range"] {
    width: 100%;
    height: 5px;
    border-radius: 4px;
    background-color: var(--primary-color);
    box-sizing: border-box;
    position: relative;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
}

input[type="range"]::-webkit-slider-thumb::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

input[type="range"]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

input[type="range"]::-ms-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.result-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.result-box {
    background-color: var(--surface2);
    border-radius: 4px;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(148 163 184 / 15%);
    flex: 1 1 300px;
}

.result-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

.result-value {
    display: flex;
    gap: 0.25rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
    align-items: center;
    flex-wrap: wrap;
}

.info-text {
    display: inline-flex;
    gap: 0.25rem;
    font-size: 0.9rem;
    color: var(--text-color);
    flex-direction: row;
    flex-wrap: wrap;
}

.stat-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin: 20px 0;
}

.stat-card {
    position: relative;
    background: var(--surface2);
    padding: 15px;
    border-radius: 8px;
    border: 1px solid rgb(148 163 184 / 15%);
}

/*
.tab-buttons {}
.tab-buttons .tab-button {}
.tab-buttons .tab-button:hover {}
.tab-buttons .tab-button.active {}
*/